@use "../custom" as *;

@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Futura Bold", Lato, Arial, Helvetica, sans-serif;
  }

  .h#{$i} {
    font-family: "Futura Bold", Lato, Arial, Helvetica, sans-serif;
  }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// .h1,
// .h2,
// .h3,
// .h4,
// .h5 {
//   font-family: "Futura Bold", Lato, Arial, Helvetica, sans-serif;
//   // text-transform: uppercase;
// }

// Responsive font size
// @include media-breakpoint-up(lg) {
//   html {
//     font-size: $font-size-base * 1.25;
//   }
// }

html {
  @include media-breakpoint-up(md) {
    @include font-size(1rem);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(1.25rem);
  }
}

strong {
  color: $primary;
}
